body{
    background-color:#6a62d2;
}
.form{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin:50px auto;
    border:1px solid black;
    width:250px;
    height: 230px;
    border-radius: 20px;
}
.login_heading{
    text-align: center;
    font-size: 20px;
}
.input_field{
    padding:8px 20px;
    background-color: #e5e8ed;
    border:1px solid black;

}
.Button{
    padding:5px 15px;
    color:#ffffff;
    background-color: #6a62d2;
    border: none;
    border-radius: 30px;
    margin:0px 20px;
}
.container{
    background-color: #ffffff;
    width:330px;
padding:40px;
    margin:20px auto;
    border-radius: 20px;
}
.content{
    text-align: center;
}